<app-admindashboard> </app-admindashboard>
<app-header2> </app-header2> 
<html>
    <head>
        <style>
.raa{background-color:rgb(44, 3, 3);color: blanchedalmond;font-family:cursive;}

        </style>
    </head>
    <body>
        <div class=raa>

        <!-- {{obj.canteenname}}       -->
        <div id="nav-bar" *ngFor="let obj of arr">
        <h1> Welcome  {{obj.canteenname}}</h1>
        </div>
        </div>
            <!-- {{obj.canteenname}} -->
            <!-- {{obj.canteenname}} -->
<img src="../../assets/portfolio/9.jpg" height=650 width=1600/>

    </body>
</html>