
<app-welcome></app-welcome>

<html>
    <head>
        <script>






// $('.cart-container').on('mousemove', function(evt) {
//   var windowWidth = $(window).width();
//   var cartWidth = $('.product').length * 200;
//   if(windowWidth < cartWidth)
//     $('.cart').stop(false, true).animate({
//       left: - (evt.clientX / windowWidth) * (cartWidth - windowWidth)
//     });
//   else
//     $('.cart').stop(false, true).css({
//       left: 0
//     });
// });

// $('.plus').click( function() {
//   var product = $(this).closest('.product')
//   var q = product.data('quantity') + 1;
//   product.data('quantity', q);
//   updateProduct(product);
// });

// $('.minus').click( function() {
//   var product = $(this).closest('.product')
//   var q = Math.max(1, product.data('quantity') - 1); 
//   product.data('quantity', q);
//   updateProduct(product);
// });

// $('.del').click( function() {
//   var product = $(this).closest('.product')
//   product.hide('blind', {direction:'left'}, 500, function() {
//     product.remove();
//     updateProduct(product);
//     if($('.product').length == 0)  {
//       $('.cart-container .cart').hide();
//       $('.cart-container .empty').show();
//     }
//   });
// });

// function updateProduct(product) {
//   var quantity = product.data('quantity');
//   var price = product.data('price');
//   $('.product-quantity', product).text('x' + quantity);
//   $('.product-price', product).text('$ ' + (price * quantity).toFixed(2));
//   updateBill();
// }

// function updateBill() {
//   var subtotal = 0;
//   var salestax = 0;
//   var shipping = 5;
//   var total = 0;
//   $('.product').each(function () {
//     subtotal += $(this).data('quantity') * $(this).data('price');
//   });
//   salestax = subtotal * 0.05;
//   total = subtotal + salestax + shipping;
//   $('.subtotal .value').text('$ ' + subtotal.toFixed(2));
//   $('.salestax .value').text('$ ' + salestax.toFixed(2)); 
//   $('.total .value').text('$ ' + total.toFixed(2));
// }




            </script>
    </head>

    <body>
      <br>
      <br>
      <br>
      <br>
        
<div class="header">
  <h1>
    SWITO CART
  </h1>
  <p>
    "I say let the world go to hell, but I should always have my tea."
  </p>
  <p>
    ― Fyodor Dostoyevsky, Notes from Underground
  </p>
</div>
<div class="cart-container"  >
  <div class="empty" style="display:none">
    No more twinkies ! 
  </div>
  <ul class="cart" >
    <li class="product" data-price="4.9" data-quantity="2" *ngFor="let obj of arr">
      <div class="product-preview" >
        <div class="thumbnail">
          <img class="image" src="../../assets/swito1.jpg" />
        
        </div>
        <div class="product-paper">
          <div class="product-name">
          {{obj.name}}
          </div>
          <div class="product-price">
            ₹ : {{obj.price}}
          </div>
        </div>
      </div>
      <div class="product-quantity">
        Quality 100%
      </div>
     
    </li>
   
   
    
    
    
    
   
    
   
  </ul>
</div>


<app-orderform></app-orderform>
<div class="actions">
        <a   [routerLink]="['/payment']">
  <div class="big-button go">
    Get them !
  </div>
  </a>
</div>
<div class="actions">
        <a   [routerLink]="['/home']">
  <div class="big-button return">
    Return to shop
  </div>
  </a>
</div>

    </body>
</html>
<app-cartlogo></app-cartlogo>

<!-- <app-validation></app-validation> -->












