
<html>
    <head>
        <script>
            $( document ).ready(function() {

// set the length of the string
var stringLength = 5;

// list containing characters for the random string
var stringArray = ['0','1','2','3','4','5','6','7','8','9','a','b','c','d','e','f','g','h','i','j','v','w','x','y','z','A','B','C','D','E','F','G','V','W','X','Y','Z','!','?'];

$("#generateToken").click(function (){

    var rndString = "";

    // build a string with random characters
    for (var i = 1; i < 5; i++) { 
        var rndNum = Math.ceil(Math.random() * stringArray.length) - 1;
        rndString = rndString + stringArray[rndNum];
    };
    
    $("#showToken").html('<p><strong>' + rndString + '<strong></p>');
alert(hello);
});

});
            </script>
    </head>
<body>

        <p>Click the button below to generate a  token.</p>
        <button id="generateToken">Generate New Token</button>
        <p id="showToken"></p>


</body>
</html>
