body {
    background:white;
    
  }
  
  .Reset-button {
    width: 150px;
    height: 40px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 300px;
  }
  
  .Notification {
    display: flex;
    justify-content: center;
  }
  
  .Notification-box {
    width: 731px;
    position: relative;
    height: 56px;
    border-radius: 3px;
    box-shadow: white;
    border: solid 1px #ff1b1b;
    background-color: #ff3d3d;
    position: relative;
    top: 0;
    transition: top 0.3s ease-out, opacity 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .closed {
    top: -80px;
    position: relative;
    transition-duration: 0s;
  
  }
  
  .Error-message {
    width: 599px;
    height: 18px;
    opacity: 0.9;
    font-family: IBMPlexSans;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 55px;
    transition: opacity 0.15s ease-out;
  }
  
  .closed .Error-message {
    opacity: 0;
  }
  
  
  .Close-icon {
    width: auto;
    height: auto;
    background: none;
    margin-right: 22px;
    border: none;
  }
  
  .Close-icon svg * {
    fill: white;
  }