
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body>
  <div class="Notification">
    <div class="Notification-box" id="notification-box">
      <div class="Error-message">
        only paytm option is working now. we are working on this ,sorry for the inconvinence
      </div>

      <button class="Close-icon" id="close-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
      <defs>
          <path id="a" d="M12.667 11.333H20v1.334h-7.333V20h-1.334v-7.333H4v-1.334h7.333V4h1.334v7.333z"/>
      </defs>
      <g fill="none" fill-rule="evenodd" opacity=".8" transform="translate(-2 -2)">
          <mask id="b" fill="#fff">
              <use xlink:href="#a"/>
          </mask>
          <use fill="#000" transform="rotate(45 12 12)" xlink:href="#a"/>
      </g>
  </svg>
      </button>
    </div>
  </div>
  <div class="Reset-button" id="reset-button"> Get notification again</div> 
 
</body>

</html>